apiVersion: v1
kind: Secret
metadata:
  name: godinary-secrets
type: Opaque
data:
  server.key: <server key base64ed>
  server.pem: <server pem base64ed>
  service_account.json: <service account with gs permissions base64ed>
