apiVersion: v1
kind: Service
metadata:
  namespace: production
  name: godinary
  labels:
    project: godinary
spec:
  ports:
  - name: https
    port: 443
    targetPort: 3002
    protocol: TCP
  type: LoadBalancer
  sessionAffinity: "None"
  loadBalancerIP: <PUBLIC IP>
  selector:
    project: godinary
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: godinary
  labels:
      project: godinary
  namespace: production
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        project: godinary
    spec:
      restartPolicy: Always
      volumes:
      - name: godinary-data
        secret:
          secretName: godinary-secrets
      containers:
      - name: godinary
        volumeMounts:
          - name: godinary-data
            readOnly: true
            mountPath: /app/data
        image: <route to godinary image>
        resources:
          requests:
            memory: "256Mi"
            cpu: 1
        readinessProbe:
          httpGet:
            path: /up
            port: 3002
            scheme: HTTPS
          timeoutSeconds: 1
          initialDelaySeconds: 5
        livenessProbe:
          httpGet:
            path: /up
            scheme: HTTPS
            port: 3002
          timeoutSeconds: 1
        env:
        - name: GODINARY_PORT
          value: "3002"
        - name: "GOMAXPROCS"
          value: "2"
        - name: GODINARY_GS_CREDENTIALS
          value: /app/data/service_account.json
        - name: GODINARY_SSL_DIR
          value: /app/data/
        - name: GODINARY_ALLOW_HOSTS
          value: www.example.com,
        - name: GODINARY_SENTRY_URL
          value: <YOUR SENTRY URL>
        - name: GODINARY_STORAGE
          value: gs
        - name: GODINARY_GCE_PROJECT
          value: <YOUR GCE PROJECT>
        - name: GODINARY_GS_BUCKET
          value: <YOUR GS BUCKET>


